@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  src: url("fonts/JetBrainsMono-Regular.ttf");
}

@font-face {
  font-family: "PingFang SC";
  font-style: normal;
  src: url("fonts/PingFang-SC-Regular.ttf");
}

@font-face {
  font-family: "PingFang SC Bold";
  font-style: normal;
  src: url("fonts/PingFang-SC-Bold.ttf");
}
/* 
@font-face {
  font-family: "Noto Sans SC";
  font-style: normal;
  src: url("fonts/NotoSansSC-Regular.otf");
} */

:root {
  /* 主色 */
  --b3-theme-primary: var(--Notion-theme-primary);
  --b3-theme-primary-light: rgba(66, 133, 244, 0.54);
  --b3-theme-primary-lighter: rgba(66, 133, 244, 0.38);
  --b3-theme-primary-lightest: rgba(66, 133, 244, 0.12);
  --b3-theme-secondary: #f3a92f;
  --b3-theme-background: var(--Notion-theme-background);
  --b3-theme-surface: var(--Notion-theme-background);
  --b3-theme-error: #d23f31;
  --Notion-theme-primary: rgb(46, 170, 220);
  --Notion-theme-surface: rgb(247, 246, 243);
  --Notion-theme-background: #ffffff;

  /* 文字颜色 */
  --b3-theme-on-primary: var(--Notion-theme-color);
  --b3-theme-on-secondary: #fff;
  --b3-theme-on-background: var(--Notion-theme-on-backgroud);
  --b3-theme-on-surface: var(--Notion-theme-on-surface);
  --b3-theme-on-error: #fff;
  --Notion-theme-color: rgb(55, 53, 47);
  --Notion-theme-color-fade: rgba(55, 53, 47, 0.4);
  --Notion-theme-on-backgroud: var(--Notion-theme-color);
  --Notion-theme-on-surface: rgba(25, 23, 17, 0.6);
  --Notion-theme-on-surface-focus: var(--Notion-theme-color);
  --Notion-todolist-done-color: rgba(55, 53, 47, 0.375);

  /* 字体 */
  --b3-font-family: "PingFang SC", "Jetbrains Mono", "Helvetica Neue",
    "Luxi Sans", "DejaVu Sans", "Hiragino Sans GB", "Microsoft Yahei",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji",
    "Segoe UI Symbol", "Android Emoji", "EmojiSymbols";
  --b3-font-family-code: "Jetbrains Mono", "PingFang SC", mononoki, Consolas,
    "Liberation Mono", Menlo, Courier, monospace, "Apple Color Emoji",
    "Segoe UI Emoji", "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji",
    "EmojiSymbols";

  /* 线条 */
  --b3-border-color: var(--Notion-theme-background);
  --Notion-text-border-color: rgba(55, 53, 47, 0.09);
  --Notion-table-border-color: rgba(55, 53, 47, 0.09);

  /* 滚动条 */
  --b3-scroll-color: var(--Notion-scroll-color);
  --Notion-scroll-color: rgb(211, 209, 203);

  /* 列表 */
  --b3-list-hover: rgba(0, 0, 0, 0.05);
  --Notion-list-color: rgba(0, 0, 0, 0.5);
  --Notion-list-border-color: rgb(228, 227, 226);
  --Notion-tolist-hover-color: rgb(239, 239, 239);
  --Notion-tolist-done-background: rgb(46, 170, 220);
  --Notion-tolist-done-background-hover: rgb(46, 170, 220);

  /* 表格 */
  --Notion-table-th-color: rgb(31, 35, 40);
  --Notion-table-trn-color: rgb(40, 45, 52);
  --Notion-table-tr2n-color: rgb(35, 40, 46);

  /* 页签 */
  --b3-tab-background: var(--Notion-tab-background);
  --b3-tab-background-hover: var(--Notion-tab-background-hover);

  --Notion-tab-background: var(--Notion-theme-background);
  --Notion-tab-background-hover: rgb(239, 239, 239);
  --Notion-tab-background-click: rgb(223, 223, 222);
  --Notion-tab-background-focus: var(--Notion-tab-background-hover);
  --Notion-tab-background-focus-hover: var(--Notion-tab-background-hover);
  --Notion-tab-background-focus-click: rgb(203, 202, 199);

  --Notion-list-background-hover: rgb(232, 231, 228);
  --Notion-list-background-click: rgb(216, 215, 212);
  --Notion-list-background-focus: var(--Notion-list-background-hover);
  --Notion-list-background-focus-hover: rgb(218, 217, 214);
  --Notion-list-background-focus-click: rgb(203, 202, 199);

  --Notion-button-background-hover: rgb(218, 217, 214);
  --Notion-button-background-click: rgb(204, 203, 199);
  --Notion-button-background-focus-hover: rgb(205, 204, 201);
  --Notion-button-background-focus-click: rgb(192, 191, 188);

  /* 块标菜单 */
  --Notion-menu-color: rgb(195, 194, 192);
  --Notion-menu-color-hover: rgb(184, 183, 181);
  --Notion-menu-background: rgb(239, 239, 239);

  /* 提示 */
  --b3-tooltips-color: rgba(0, 0, 0, 0.54);

  /* 卡片背景 */
  --b3-card-error-color: rgb(97, 26, 21);
  --b3-card-error-background: rgb(253, 236, 234);
  --b3-card-warning-color: rgb(102, 60, 0);
  --b3-card-warning-background: rgb(255, 244, 229);
  --b3-card-info-color: rgb(13, 60, 97);
  --b3-card-info-background: rgb(232, 244, 253);
  --b3-card-success-color: rgb(30, 70, 32);
  --b3-card-success-background: rgb(237, 247, 237);

  /* 动画效果 */
  --b3-transition: all 0.15s cubic-bezier(0, 0, 0.2, 1) 0ms;

  /* 阴影 */
  --b3-point-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  --b3-dialog-shadow: var(--Notion-dialog-shadow);
  --Notion-dialog-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px,
    rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;
  --Notion-img-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px,
  rgba(15, 15, 15, 0.1) 0px 3px 5px, rgba(15, 15, 15, 0.2) 4px 6px 8px;

  /* diff */
  --b3-diff-add: #dfd;
  --b3-diff-add-surface: #97f295;
  --b3-diff-del: #fee8e9;
  --b3-diff-del-surface: #ffb6ba;

  /* 图表颜色 */
  --b3-graph-p-point: #076f7e;
  --b3-graph-heading-point: #660e7a;
  --b3-graph-math-point: #80ffa5;
  --b3-graph-code-point: #00ddff;
  --b3-graph-table-point: #37a2ff;
  --b3-graph-list-point: #ff0087;
  --b3-graph-todo-point: #ffbf00;
  --b3-graph-olist-point: #b3005f;
  --b3-graph-listitem-point: #f65b00;
  --b3-graph-bq-point: #8d48e3;
  --b3-graph-super-point: #dd79ff;
  --b3-graph-doc-point: #202124;
  --b3-graph-tag-point: #dbf32f;
  --b3-graph-asset-point: #05c091;
  --b3-graph-line: #5f6368;
  --b3-graph-ref-line: #d23f31;
  --b3-graph-tag-line: #5f6b06;
  --b3-graph-tag-tag-line: #dbf32f;
  --b3-graph-asset-line: #037457;
  --b3-graph-hl-point: #f3a92f;
  --b3-graph-hl-line: #4285f4;

  /* 编辑器工具栏高度 */
  --b3-vditor-toolbar-height: 29px;
  --b3-vditor-toolbar-height-space: 6px;

  /* 编辑器搜索颜色 */
  --b3-vditor-search-background: #ffe955;
  --b3-vditor-search-border-color: #f2e680;
  --b3-vditor-search-current-background: #a5d3fe;

  /* 代码片段背景 */
  --b3-vditor-code-background: var(--Notion-vditor-code-background);
  --Notion-vditor-code-background: var(--Notion-theme-surface);

  /* 即时渲染标记符颜色 */
  --b3-vditor-mark-heading-color: #660e7a;
  --b3-vditor-mark-title-color: #808080;
  --b3-vditor-mark-em-color: #0033b3;
  --b3-vditor-mark-strong-color: #0033b3;
  --b3-vditor-mark-backslash-color: #0033b3;
  --b3-vditor-mark-s-color: #5f6368;
  --b3-vditor-mark-mark-color: #5f6368;
  --b3-vditor-mark-link-color: #008000;
  --b3-vditor-mark-bracket-color: #0000ff;
  --b3-vditor-mark-paren-color: #008000;
  --b3-vditor-mark-block-color: #660e7a;
  --b3-vditor-mark-tag-color: #0033b3;

  /* 即时渲染行内元素颜色 */
  --b3-vditor-inline-strong-color: #202124;
  --b3-vditor-inline-em-color: #202124;
  --b3-vditor-inline-s-color: #202124;
  --b3-vditor-inline-link-color: var(--Notion-vditor-inline-link-color);
  --b3-vditor-inline-mark-background: #ffe955;
  --b3-vditor-inline-mark-color: #202124;
  --b3-vditor-inline-tag-color: #5f6368;
  --b3-vditor-inline-blockref-color: var(--Notion-vditor-inline-blockref-color);
  --Notion-vditor-inline-link-color: var(--Notion-theme-color);
  /* --Notion-vditor-inline-blockref-color: #61afef; */
  --Notion-vditor-inline-blockref-color: var(--Notion-theme-primary);
  --Notion-vditor-inline-code-color: #eb5757;
  --Notion-vditor-inline-code-background: rgba(135, 131, 120, 0.15);
}

.language-graphviz polygon {
  fill: transparent;
}

/* UI样式 */
/* 右上角按钮 */
.toolbar__item--action:hover {
  background-color: var(--Notion-tab-background-hover) !important;
}
.toolbar__item--action:active {
  background-color: var(--Notion-tab-background-click) !important;
}

/* 字数计数器 */
.vditor-counter {
  margin-top: 0.3em;
  padding: 0.4em 0.4em;
  color: var(--Notion-theme-on-surface-focus);
  background-color: var(--Notion-tab-background-hover);
}

/* 富文本工具栏 */
.vditor-toolbar {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: var(--Notion-theme-background) !important;
}
.vditor-toolbar__item {
  transition: opacity 400ms ease 0s;
  opacity: 0;
  margin: 0 2px;
}
.vditor-toolbar:hover .vditor-toolbar__item {
  opacity: 1;
}

/* 编辑器页签 */
.layout-tab-bar .item {
  font-family: "PingFang SC Bold";
  margin-left: 4px;
  border: none;
  border-radius: 3px;
}

/* 侧边栏顶栏 */
.block__icons {
  background-color: var(--Notion-theme-surface);
}

/* 侧边栏 */
.file-tree .fn__flex-1,
.b3-tab-bar {
  background-color: var(--Notion-theme-surface);
}

.file-tree * {
  font-family: "PingFang SC Bold";
  color: var(--Notion-theme-on-surface) !important;
}

/* 侧边栏顶栏按钮 */
.block__icon {
  height: 22px;
  border-radius: 3px;
}
.block__icon svg {
  padding: 4px;
}
/* 侧边栏顶栏的统计块 */
.listCount {
  margin-left: 0;
}

/* 侧边栏页签列表上的按钮 */
/* ... */
.b3-list-item__action {
  padding: 3px 1px;
  border-radius: 3px;
}
/* 折叠展开 */
.b3-list-item__graphic--arrow {
  padding: 4px;
  margin-right: 5px;
  border-radius: 3px;
}
.b3-list-item__graphic--arrow-open {
  padding: 4px 0;
}

/* 菜单样式 */
.b3-menu {
  border-radius: 3px;
}

/* 顶栏弹出菜单 */
.b3-menu__item:hover:not(.b3-menu__item--readonly):not(.b3-menu__item--custom),
.b3-menu__item--current {
  background-color: var(--Notion-tab-background-hover);
}

.b3-menu__separator {
  height: 1px;
  background-color: var(--Notion-text-border-color);
}
/* 设置菜单 */
.b3-tab-bar,
.b3-tab-container * {
  font-family: "PingFang SC Bold";
}

.b3-switch {
  background-color: rgb(219, 218, 214);
}

.b3-select {
  background-color: var(--Notion-theme-surface);
}

.b3-tab-container .b3-button:not(.b3-button--text) {
  color: var(--Notion-theme-background) !important;
}

.b3-snackbar__content,
.b3-snackbar__content a {
  color: var(--Notion-theme-background) !important;
}

/* ----------------------------------------------------------------------------------------------------------------- */

/* UI按钮特效 */
/* 初状态 */
/* 编辑器页签和富文本工具栏按钮 */
.vditor-toolbar__item,
.layout-tab-bar .item {
  color: var(--Notion-theme-color-fade);
  border-radius: 3px;
}

/* 悬浮状态 */
/* 编辑器页签和富文本工具栏按钮 */
.vditor-toolbar__item:hover,
.layout-tab-bar .item:hover {
  background-color: var(--Notion-tab-background-hover) !important;
}

/* 富文本工具栏按钮 */
.vditor-toolbar__item:hover {
  color: var(--Notion-theme-on-surface-focus) !important;
}

/* 侧边栏页签列表和顶栏按钮 */
.file-tree .fn__flex-1 .b3-list-item:hover,
.b3-tab-bar .b3-list-item:hover,
.block__icons:hover,
.block__icons:hover .fn__flex-1 {
  background-color: var(--Notion-list-background-hover) !important;
}


/* 侧边栏页签列表上的按钮 */
.b3-list-item__action:hover,
span[data-type="counter"]:hover,
.item__close:hover,
.b3-list-item__graphic--arrow:hover,
.block__icon:hover {
  background-color: var(--Notion-button-background-hover) !important;
}

/* 点击状态 */
/* 编辑器页签和富文本工具栏按钮 */
.vditor-toolbar__item:active,
.layout-tab-bar .item:active {
  color: var(--Notion-theme-on-surface-focus) !important;
  background-color: var(--Notion-tab-background-click) !important;
}

/* 侧边栏页签列表 */
.file-tree .fn__flex-1 .b3-list-item:active .b3-tab-bar .b3-list-item:active {
  background-color: var(--Notion-list-background-click) !important;
}

.file-tree .fn__flex-1 .b3-list-item:active .b3-list-item__text,
.file-tree .fn__flex-1 .b3-list-item:active .b3-list-item__graphic,
.b3-tab-bar .b3-list-item:active .b3-list-item__text,
.b3-tab-bar .b3-list-item:active .b3-list-item__graphic {
  color: var(--Notion-theme-on-surface-focus) !important;
}

.b3-list-item__action:active,
span[data-type="counter"]:active,
.item__close:active,
.b3-list-item__graphic--arrow:active,
.block__icon:active,
.b3-list-item__graphic--arrow:active {
  background-color: var(--Notion-button-background-click) !important;
}

/* 选中状态 */
/* 编辑器页签和富文本工具栏按钮 */
.b3-menu__item--current,
.layout__wnd--active .layout-tab-bar .item--focus {
  color: var(--Notion-theme-on-surface-focus) !important;
  background-color: var(--Notion-tab-background-focus) !important;
}

/* 侧边栏页签列表 */
.file-tree .fn__flex-1 .b3-list-item--focus,
.b3-tab-bar .b3-list-item--focus {
  background-color: var(--Notion-list-background-focus) !important;
}

.file-tree .fn__flex-1 .b3-list-item--focus .b3-list-item__text,
.file-tree .fn__flex-1 .b3-list-item--focus .b3-list-item__graphic,
.b3-tab-bar .b3-list-item--focus .b3-list-item__text,
.b3-tab-bar .b3-list-item--focus .b3-list-item__graphic {
  color: var(--Notion-theme-on-surface-focus) !important;
}

/* 选中悬浮状态 */
/* 编辑器页签和富文本工具栏按钮 */
.b3-menu__item--current:hover,
.layout__wnd--active .layout-tab-bar .item--focus:hover {
  background-color: var(--Notion-tab-background-focus-hover) !important;
}

/* 侧边栏页签列表 */
.file-tree .fn__flex-1 .b3-list-item--focus:hover,
.b3-tab-bar .b3-list-item--focus:hover {
  background-color: var(--Notion-list-background-focus-hover) !important;
}

/* 侧边栏页签列表上的按钮 */
.file-tree .fn__flex-1 .b3-list-item--focus .b3-list-item__action:hover,
.file-tree .fn__flex-1 .b3-list-item--focus span[data-type="counter"]:hover,
.layout__wnd--active .layout-tab-bar .item--focus .item__close:hover,
.file-tree .fn__flex-1 .b3-list-item--focus .b3-list-item__graphic--arrow:hover,
.file-tree
  .fn__flex-1
  .b3-list-item--focus
  .b3-list-item__graphic--arrow:hover {
  background-color: var(--Notion-button-background-focus-hover) !important;
}

/* 选中点击状态 */
/* 编辑器页签和富文本工具栏按钮 */
.b3-menu__item--current:active,
.layout__wnd--active .layout-tab-bar .item--focus:active {
  background-color: var(--Notion-tab-background-focus-click) !important;
}

/* 侧边栏页签列表 */
.file-tree .fn__flex-1 .b3-list-item--focus:active,
.b3-tab-bar .b3-list-item--focus:active {
  background-color: var(--Notion-list-background-focus-click) !important;
}

/* 侧边栏页签列表上的按钮 */
.file-tree .fn__flex-1 .b3-list-item--focus .b3-list-item__action:active,
.file-tree .fn__flex-1 .b3-list-item--focus span[data-type="counter"]:active,
.layout__wnd--active .layout-tab-bar .item--focus .item__close:active,
.file-tree
  .fn__flex-1
  .b3-list-item--focus
  .b3-list-item__graphic--arrow:active,
.file-tree
  .fn__flex-1
  .b3-list-item--focus
  .b3-list-item__graphic--arrow:active {
  background-color: var(--Notion-button-background-focus-click) !important;
}

/* ---------------------------------------------------------------------------------------------------- */

/* 编辑器样式 */

/* 大纲样式 */
.vditor-ir ul > li:not(.vditor-task) {
  list-style-type: disc;
}

/* .vditor-ir ul > li::marker {
  color: var(--Notion-list-color);
} */

.vditor-ir ul p,
.vditor-ir ol p {
  margin-bottom: 0;
  line-height: 2;
}

/* 无序列表 */
.vditor-ir ul ol,
.vditor-ir ul ul {
  border-left: 1px solid var(--Notion-list-border-color);
  margin-left: -0.9em !important;
  padding-left: 2.8em !important; /* 父子结点之间的距离 */
}

/* 有序列表 */
.vditor-ir ol ol,
.vditor-ir ol ul {
  border-left: 1px solid var(--Notion-list-border-color);
  margin-left: -0.9em !important;
  padding-left: 2.8em !important; /* 父子结点之间的距离 */
}

/* 代码主题Github下的样式调整 */
/* 代码块 */
.hljs {
  line-height: 1.8;
  border-radius: 3px !important;
  background-color: var(--b3-vditor-code-background) !important;
}

/* 代码块中注释去除斜体样式 */
.hljs-comment {
  font-style: normal !important;
}

.hljs-meta {
  font-weight: normal !important;
}

/* 代码编辑区 */
.vditor-ir__marker--pre code {
  color: var(--b3-theme-on-background);
  background-color: var(--Notion-theme-surface) !important;
}

/* 代码编辑区显示时不显示预览 */
.vditor-ir__node--expand:not([data-type="inline-math"]) .vditor-ir__preview {
  display: none;
}

/* 表格 */
.vditor-ir table tr {
  border-top: 1.6px solid var(--Notion-table-border-color);
}

.vditor-ir table tr:last-child {
  border-bottom: 1.6px solid var(--Notion-table-border-color);
}

.vditor-ir table tr th {
  border-left: 1.6px solid var(--Notion-table-border-color);
  border-right: 1.6px solid var(--Notion-table-border-color);
}

.vditor-ir table tr td {
  border-left: 1.6px solid var(--Notion-table-border-color);
  border-right: 1.6px solid var(--Notion-table-border-color);
}

.vditor-ir table tr th:first-child,
.vditor-ir table tr td:first-child {
  border-left-width: 0px;
}

.vditor-ir table tr th:last-child,
.vditor-ir table tr td:last-child {
  border-right-width: 0px;
}

/* 块标识菜单样式 */
.vditor-ir__menu button {
  border-radius: 4px;
  height: 20px;
  min-width: 20px;
  padding-top: 1px;
}

.vditor-ir__menu button:hover {
  background-color: var(--Notion-menu-background);
}

.vditor-ir__menu button:hover svg {
  color: var(--Notion-menu-color-hover);
}

.vditor-ir__menu button svg {
  width: 13px;
  height: 13px;
  color: var(--Notion-menu-color);
}

.vditor-ir__menu--fold button svg {
  margin-top: 10px;
}

/* .vditor-ir__menu--hover:not(.vditor-ir__menu--counter){
  display: none;
} */

/* 引用计数块的样式 */
.vditor-ir__menu span {
  padding: 0.7px 3px 0 3px;
  margin: 2px 0 0 2px;
  border-radius: 4px;
  height: 15.5px;
  min-width: 15.5px;
  background-color: var(--Notion-menu-background);
  color: var(--Notion-menu-color-hover);
  font-size: 11px;
  line-height: 15.5px;
}

/* 备注时引用计数块的样式 */
.vditor-ir__menu--memo span {
  background-color: var(--Notion-tab-background-click);
  color: var(--Notion-theme-on-surface-focus);
}

.vditor-ir__menu[title^="标题"]:not([style$="left:-44px"]):not([style$="left:-66px"]) {
  margin-top: 8px;
}

.vditor-ir__menu[title^="嵌入块"]:not([style$="left:-44px"]):not([style$="left:-66px"]) {
  margin-top: -5px;
}
/* .vditor-ir__menu[title^="段落"]:not([style$="left:-44px"]):not([style$="left:-66px"]) {
  margin-top: 0px;
} */

/* .vditor div[style$="left:-22px"]:not([title^="无序列表"]):not([title^="有序列表"]):not([title^="列表项"]) {
  margin-left: -3em;
} */

/* 计数块旁的元素调整 */
.vditor-ir--tip > h1,
.vditor-ir--tip > h2,
.vditor-ir--tip > h3,
.vditor-ir--tip > h4,
.vditor-ir--tip > h5,
.vditor-ir--tip > h6 {
  margin-left: 7px;
  line-height: 2;
}

.vditor-ir--tip > p,
.vditor-ir--tip > .hlhs,
.vditor-ir--tip > table,
.vditor-ir--tip > ul,
.vditor-ir--tip > ol,
.vditor-ir--tip > .vditor-ir__node {
  margin-left: 7px;
}

.vditor-ir--tip > blockquote {
  margin-left: 0.55em;
}

/* 任务列表样式 */
.vditor-task input[type="checkbox"]:before {
  content: "";
  display: inline-block;
  cursor: pointer;
  width: 0.7rem;
  height: 0.7rem;
  vertical-align: middle;
  text-align: center;
  border: 2.2px solid var(--Notion-theme-color);
  background-color: var(--Notion-theme-background);
  margin-top: -0.2rem;
  margin-left: -0.1rem;
}

/* 任务列表未选中，鼠标悬停 */
.vditor-task input[type="checkbox"]:not([disabled]):not(:checked):hover:before {
  background-color: var(--Notion-tolist-hover-color);
}

/* 任务列表选中 */
.vditor-task input[type="checkbox"]:checked:before {
  content: "\2713";
  font-size: 1.2rem;
  line-height: 0.8rem;
  color: var(--Notion-theme-background);
  border-color: var(--Notion-tolist-done-background-hover);
  background-color: var(--Notion-tolist-done-background-hover);
}

/* 任务列表选中，鼠标悬停 */
.vditor-task input[type="checkbox"]:checked:hover:before {
  border-color: var(--Notion-tolist-done-background);
  background-color: var(--Notion-tolist-done-background);
}

/* 任务列表选中后的文本样式 */
.vditor-task--done p {
  text-decoration: line-through;
  color: var(--Notion-todolist-done-color);
}

/* 任务列表与文字的距离 */
.vditor-task input[type="checkbox"] {
  margin-right: 0.5em;
}

/* 标题块 */
/* 一二级标题的底部横线 */
.vditor-ir h1,
.vditor-ir h2 {
  border-bottom: 1px solid var(--Notion-list-border-color) !important;
}

.vditor-ir h1,
.vditor-ir h2,
.vditor-ir h3,
.vditor-ir h4,
.vditor-ir h5,
.vditor-ir h6 {
  padding-top: 0.6em;
  margin-bottom: 0.4em;
}

/* 列表块中的标题块样式 */
.vditor-ir ul h1,
.vditor-ir ul h2,
.vditor-ir ul h3,
.vditor-ir ul h4,
.vditor-ir ul h5,
.vditor-ir ul h6,
.vditor-ir ol h1,
.vditor-ir ol h2,
.vditor-ir ol h3,
.vditor-ir ol h4,
.vditor-ir ol h5,
.vditor-ir ol h6 {
  margin: 0 auto;
  padding: 0;
  border: none;
  line-height: 2;
}

/* 外部链接 */
span[data-type="a"] {
  opacity: 0.7;
  border-bottom: 0.05em solid rgba(55, 53, 47, 0.4);
  transition: border-color 100ms ease-in, opacity 100ms ease-in;
}

span[data-type="a"] .vditor-ir__link {
  cursor: pointer;
  text-decoration: none;
}

span[data-type="a"] *:not(.vditor-ir__link) {
  font-size: 85%;
  color: var(--Notion-theme-color) !important;
}

span[data-type="a"]:hover {
  border-color: var(--Notion-theme-color) !important;
  opacity: 1 !important;
}

/* 命名、别名的样式 */
.vditor-ir--tip *[tip]:not([fold="1"]) {
  /* box-shadow: var(--b3-dialog-shadow); */
  border-radius: 3px;
  border-right: 2px solid var(--Notion-text-border-color);
}

.vditor-ir--tip *[tip]:not([fold="1"])::before {
  border-radius: 3px;
  padding: 0.2em 0.4em;
  background-color: var(--Notion-theme-surface);
}

/* 标签样式 */
.vditor-ir span[data-type="tag"] {
  font-size: 85%;
  /* border: 1px solid var(--b3-theme-primary); */
  background-color: var(--b3-theme-primary-light);
  border-radius: 3px;
  cursor: pointer;
  padding: 0.1em 0.4em;
  white-space: nowrap;
}

.vditor-ir__tag {
  text-decoration: none;
  color: var(--Notion-theme-background);
}

/* 行内代码块 */
span[data-type="code"] {
  font-style: normal;
  font-weight: normal;
}
span[data-type="code"] > code {
  color: var(--Notion-vditor-inline-code-color) !important;
  background-color: var(--Notion-vditor-inline-code-background) !important;
}

/* 块引用样式 */
/* 块引用内部锚文本颜色改变 */
.vditor-ir__marker--info {
  color: var(--b3-vditor-inline-blockref-color) !important;
}

.vditor-ir__marker {
  cursor: text;
}

/* 块引用预览的样式 */
.block__popover {
  box-shadow: var(--b3-dialog-shadow);
}

/* ------------------------------------------------------------------------------------------------- */

/* 公式字号调整 */
.MathJax svg {
  font-size: 0.95em !important;
}

.katex {
  font-size: 0.95em !important;
}

/* 段落块样式 */
.vditor-ir--tip p:not(img) {
  line-height: 2;
  /* text-align: justify; */
}

/* 引用块 */
blockquote {
  color: var(--Notion-theme-color) !important;
  border-left: 3px solid var(--Notion-theme-color) !important;
  background-color: var(--b3-theme-background) !important;
  padding: 0 0.9em !important;
}

/* 五种卡片的样式调整 */
.vditor-ir div[data-type="block-ref-embed"] > div[data-render],
.vditor-ir div[data-type="block-query-embed"] > div[data-render] {
  margin-top: 1.2em !important;
  margin-bottom: 1.5em !important;
  box-shadow: var(--b3-dialog-shadow);
}

span[data-type="img"] img,
.vditor-ir blockquote,
.vditor-ir table{
  margin-top: 1.2em !important;
  margin-bottom: 1.5em !important;
}

span[data-type="img"] img{
  box-shadow: var(--Notion-img-shadow);
}

/* 多种行内元素的样式调整 */
span[data-type="strong"],
span[data-type="code"],
span[data-type="em"],
span[data-type="s"],
span[data-type="a"],
span[data-type="tag"],
span[data-type="inline-math"]
/* span[data-type="ref-text-tpl-render-result"] */ {
  margin: 0 0.2em;
}

/* 动态查询中间的横线 */
.vditor-ir
  div[data-type="block-query-embed"]
  > div[data-render]
  > .fn__flex-column:not(:last-child)
  > .fn__flex-1 {
  border-bottom: 1px solid var(--Notion-text-border-color) !important;
}

/* 分割线样式 */
.vditor-reset hr {
  /* height: 1px; */
  background-color: var(--Notion-text-border-color);
}

/* 折叠块样式 */
.vditor-ir [data-node-id][fold="1"] {
  opacity: 0.4;
}

/* 高亮 */
.vditor-ir__hl {
  background-color: rgb(213, 238, 248) !important;
}

/* 键盘符 */
kbd{
  background-color: var(--Notion-vditor-inline-code-background) !important;
}