@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  src: url("fonts/JetBrainsMono-Regular.ttf");
}

@font-face {
  font-family: "Noto Sans SC";
  font-style: normal;
  src: url("fonts/NotoSansSC-Regular.otf");
}

@keyframes showBlock {
  0% {
    transform: scale(0.96);
    transform-origin: 50% top;
    opacity: 0;
  }
  50% {
    transform: scale(1.02);
    transform-origin: 50% top;
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    transform-origin: 50% top;
    opacity: 1;
  }
}

@keyframes showView {
  0% {
    transform: scale(0.96);
    transform-origin: 50% top;
    opacity: 0;
  }
  50% {
    transform: scale(1.01);
    transform-origin: 50% top;
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    transform-origin: 50% top;
    opacity: 1;
  }
}

:root {
  /* 编辑器宽度 */
  --NL-vditor-width:800px;

  /* 主色 */
  --b3-theme-primary: var(--NL-theme-primary);
  --b3-theme-primary-light: rgba(66, 133, 244, 0.54);
  --b3-theme-primary-lighter: rgba(66, 133, 244, 0.38);
  --b3-theme-primary-lightest: var(--NL-theme-primary-lightest);
  --b3-theme-secondary: var(--NL-theme-secondary);
  --b3-theme-background: var(--NL-theme-background);
  --b3-theme-surface: var(--NL-theme-background);
  --b3-theme-error: #d23f31;

  --NL-theme-primary: rgb(46, 170, 220);
  --NL-theme-primary-lightest: rgba(46, 170, 220, 0.1);
  --NL-theme-secondary: #dd4a68;
  --NL-theme-background: #ffffff;
  --NL-theme-surface: rgb(247, 246, 243);
  --NL-theme-highlight: rgb(213, 238, 248);
  --NL-theme-selected-highlight: rgba(45, 170, 219, 0.3);

  /* 文字颜色 */
  --b3-theme-on-primary: var(--NL-theme-color);
  --b3-theme-on-secondary: #fff;
  --b3-theme-on-background: var(--NL-theme-on-backgroud);
  --b3-theme-on-surface: var(--NL-theme-on-surface);
  --b3-theme-on-error: #fff;

  --NL-theme-color: rgb(55, 53, 47);
  --NL-theme-color-fade: rgba(55, 53, 47, 0.4);
  --NL-theme-on-backgroud: var(--NL-theme-color);
  --NL-theme-on-surface: rgba(25, 23, 17, 0.6);
  --NL-theme-on-surface-focus: var(--NL-theme-color);
  --NL-todolist-done-color: rgba(55, 53, 47, 0.375);

  /* 字体 */
  --b3-font-family: -apple-system, BlinkMacSystemFont, "Noto Sans SC",
    "Segoe UI", Helvetica, "Helvetica Neue", "Luxi Sans", "DejaVu Sans",
    "Hiragino Sans GB", "Microsoft Yahei", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji",
    "EmojiSymbols";
  --b3-font-family-code: "Jetbrains Mono", "Noto Sans SC", mononoki, Consolas,
    "Liberation Mono", Menlo, Courier, monospace, "Apple Color Emoji",
    "Segoe UI Emoji", "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji",
    "EmojiSymbols";

  /* 线条 */
  --b3-border-color: var(--NL-theme-background);

  --NL-text-border-color: rgba(55, 53, 47, 0.09);
  --NL-table-border-color: rgba(237, 237, 236);

  /* 滚动条 */
  --b3-scroll-color: var(--NL-scroll-color);

  --NL-scroll-color: #d3d1cb;
  --NL-scroll-color-hover: rgb(174, 172, 166);

  /* 列表 */
  --b3-list-hover: rgba(0, 0, 0, 0.05);

  --NL-list-color: rgba(0, 0, 0, 0.5);
  --NL-list-border-color: rgb(228, 227, 226);
  --NL-tolist-hover-color: rgb(239, 239, 239);
  --NL-tolist-done-background: rgb(46, 170, 220);
  --NL-tolist-done-background-hover: rgb(46, 170, 220);

  /* 表格 */
  --NL-table-th-color: rgb(31, 35, 40);
  --NL-table-trn-color: rgb(40, 45, 52);
  --NL-table-tr2n-color: rgb(35, 40, 46);

  /* 标签 */
  --NL-tag-background: rgb(221, 235, 241);

  /* 页签 */
  --b3-tab-background: var(--NL-tab-background);
  --b3-tab-background-hover: var(--NL-tab-background-hover);

  --NL-tab-background: var(--NL-theme-background);
  --NL-tab-background-hover: rgb(239, 239, 239);
  --NL-tab-background-click: rgb(223, 223, 222);
  --NL-tab-background-focus: var(--NL-tab-background-hover);
  --NL-tab-background-focus-hover: rgba(55, 53, 47, 0.16);
  --NL-tab-background-focus-click: rgb(203, 202, 199);

  --NL-list-background-hover: rgba(55, 53, 47, 0.08);
  --NL-list-background-click: rgb(203, 202, 199);
  --NL-list-background-focus: var(--NL-list-background-hover);
  --NL-list-background-focus-hover: rgba(55, 53, 47, 0.16);
  --NL-list-background-focus-click: rgb(203, 202, 199);

  --NL-button-background-hover: rgba(55, 53, 47, 0.08);
  --NL-button-background-click: rgb(204, 203, 199);
  --NL-button-background-focus-hover: rgb(205, 204, 201);
  --NL-button-background-focus-click: rgb(192, 191, 188);

  /* 块标菜单 */
  --NL-menu-color: rgb(195, 194, 192);
  --NL-menu-color-hover: rgb(184, 183, 181);
  --NL-menu-background: rgb(239, 239, 239);

  /* 提示 */
  --b3-tooltips-color: var(--NL-tooltips-color);
  --NL-tooltips-color: rgb(15, 15, 15);

  /* 卡片背景 */
  --b3-card-error-color: rgb(97, 26, 21);
  --b3-card-error-background: rgb(253, 236, 234);
  --b3-card-warning-color: rgb(102, 60, 0);
  --b3-card-warning-background: rgb(255, 244, 229);
  --b3-card-info-color: rgb(13, 60, 97);
  --b3-card-info-background: rgb(232, 244, 253);
  --b3-card-success-color: rgb(30, 70, 32);
  --b3-card-success-background: rgb(237, 247, 237);

  --NL-switch-button: white;
  --NL-switch-off-background: rgba(135, 131, 120, 0.3);
  --NL-switch-open-background: rgb(46, 170, 220);
  --NL-setting-button-hover-background: rgb(6, 156, 205);
  --NL-setting-button-click-background: rgb(0, 141, 190);
  --NL-text-field-background: rgba(242, 241, 238, 0.6);

  /* 动画效果 */
  --b3-transition: all 0.15s cubic-bezier(0, 0, 0.2, 1) 0ms;

  --NL-toolbar-transition: opacity 400ms ease 0s;
  --NL-switch-button-transition: transform 200ms ease-out 0s;
  --NL-switch-background-transition: background-color 200ms ease-out 0s;
  --NL-search-transition: transform 200ms ease-in-out 0s,
    opacity 200ms ease-in-out 0s;
  --NL-task-transition: background-color 20ms ease-in 0s;
  --NL-link-transition: border-color 100ms ease-in, opacity 100ms ease-in;
  --NL-setting-link-transition: background-color 20ms ease-in 0s;
  --NL-column-transition: width 300ms cubic-bezier(0, 0.8, 0.2, 1);
  --NL-popover-transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  --NL-pin-transition: transform 200ms ease-in-out;

  /* 阴影 */
  --b3-point-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  --b3-dialog-shadow: var(--NL-dialog-shadow);

  --NL-dialog-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px,
    rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;
  --NL-button-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px inset,
    rgba(15, 15, 15, 0.1) 0px 1px 2px;
  --NL-text-field-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px inset;
  --NL-text-field-focus-shadow: rgba(46, 170, 220, 0.7) 0px 0px 0px 1px inset,
    rgba(46, 170, 220, 0.4) 0px 0px 0px 2px;
  --NL-block-shadow:rgba(15, 15, 15, 0.1) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 2px 4px;

  /* diff */
  --b3-diff-add: #dfd;
  --b3-diff-add-surface: #97f295;
  --b3-diff-del: #fee8e9;
  --b3-diff-del-surface: #ffb6ba;

  /* 图表颜色 */
  --b3-graph-p-point: #076f7e;
  --b3-graph-heading-point: #660e7a;
  --b3-graph-math-point: #80ffa5;
  --b3-graph-code-point: #00ddff;
  --b3-graph-table-point: #37a2ff;
  --b3-graph-list-point: #ff0087;
  --b3-graph-todo-point: #ffbf00;
  --b3-graph-olist-point: #b3005f;
  --b3-graph-listitem-point: #f65b00;
  --b3-graph-bq-point: #8d48e3;
  --b3-graph-super-point: #dd79ff;
  --b3-graph-doc-point: #202124;
  --b3-graph-tag-point: #dbf32f;
  --b3-graph-asset-point: #05c091;
  --b3-graph-line: #5f6368;
  --b3-graph-ref-line: #d23f31;
  --b3-graph-tag-line: #5f6b06;
  --b3-graph-tag-tag-line: #dbf32f;
  --b3-graph-asset-line: #037457;
  --b3-graph-hl-point: #f3a92f;
  --b3-graph-hl-line: #4285f4;

  /* 编辑器工具栏高度 */
  --b3-vditor-toolbar-height: 29px;
  --b3-vditor-toolbar-height-space: 6px;

  /* 编辑器搜索颜色 */
  --b3-vditor-search-background: #ffe955;
  --b3-vditor-search-border-color: #f2e680;
  --b3-vditor-search-current-background: #a5d3fe;

  /* 代码片段背景 */
  --b3-vditor-code-background: var(--NL-vditor-code-background);
  --NL-vditor-code-background: var(--NL-theme-surface);

  /* 即时渲染标记符颜色 */
  --b3-vditor-mark-heading-color: #660e7a;
  --b3-vditor-mark-title-color: #808080;
  --b3-vditor-mark-em-color: #0033b3;
  --b3-vditor-mark-strong-color: #0033b3;
  --b3-vditor-mark-backslash-color: #0033b3;
  --b3-vditor-mark-s-color: #5f6368;
  --b3-vditor-mark-mark-color: #5f6368;
  --b3-vditor-mark-link-color: #008000;
  --b3-vditor-mark-bracket-color: #0000ff;
  --b3-vditor-mark-paren-color: #008000;
  --b3-vditor-mark-block-color: #660e7a;
  --b3-vditor-mark-tag-color: #0033b3;

  /* 即时渲染行内元素颜色 */
  --b3-vditor-inline-strong-color: #202124;
  --b3-vditor-inline-em-color: #202124;
  --b3-vditor-inline-s-color: #202124;
  --b3-vditor-inline-link-color: var(--NL-vditor-inline-link-color);
  --b3-vditor-inline-mark-background: var(--NL-vditor-inline-mark-background);
  --b3-vditor-inline-mark-color: #202124;
  --b3-vditor-inline-tag-color: #5f6368;
  --b3-vditor-inline-blockref-color: var(--NL-vditor-inline-blockref-color);

  --NL-vditor-inline-link-color: var(--NL-theme-color);
  --NL-vditor-inline-blockref-color: rgb(11, 110, 153);
  --NL-vditor-inline-code-color: #eb5757;
  --NL-vditor-inline-code-background: rgba(135, 131, 120, 0.15);
  --NL-vditor-inline-mark-background: rgb(251, 228, 228);
}

.language-graphviz polygon {
  fill: transparent;
}

/* UI样式 */
/* 字数计数器 */
.vditor-counter {
  /* font-size: 11px; */
  margin-top: 0.3em;
  padding: 0.4em;
  color: var(--NL-theme-on-surface-focus);
  background-color: var(--NL-tab-background-hover);
}

/* 富文本工具栏 */
.vditor-toolbar:not(.vditor-toolbar--hide) {
  border: none;
  /* border-bottom: 1px solid #000000;
  border-top: 1px solid #000000; */
}

.vditor-toolbar__item {
  transition: var(--NL-toolbar-transition);
  opacity: 0;
  margin: 3px 2px;
  height: 25px;
  padding: 0px 5px;
}

.vditor-toolbar__divider {
  margin: 6px 4px;
  height: 13px;
}

.vditor-toolbar__item[data-type="upload"] {
  padding-top: 6px;
  width: 22px;
}

.vditor-toolbar:not(.vditor-toolbar--hide):hover .vditor-toolbar__item {
  opacity: 1;
}

/* 编辑器页签 */
.layout-tab-bar .item {
  font-weight: 500;
  margin-left: 4px;
  margin-bottom: 3px;
  border: none;
  border-radius: 3px;
}

.item--unupdate {
  font-style: normal !important;
}

.item--unupdate::before {
  content: "";
  display: inline-block;
  height: 14px;
  width: 14px;
  margin-right: 8px;
  background-color: var(--NL-theme-on-surface-focus);
  -webkit-mask: url("img/done_black_18dp.svg") no-repeat;
  mask: url("img/done_black_18dp.svg") no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.layout-tab-bar .item--unupdate:active::before,
.layout-tab-bar .item--unupdate:not(.item--focus)::before {
  background-color: var(--NL-theme-color-fade);
}

.item--unupdate .item__graphic {
  display: none;
}

/* 侧边栏 */
/* 侧边栏动画 */
#layouts > .fn__flex-1 > .fn__flex-column{
  transition: var(--NL-column-transition);
}

*:not(.panelVditor) > .vditor-content > .vditor-ir {
  /* transition: padding .3s cubic-bezier(0,0,.2,1) 0ms; */
  padding: 24px calc(50% - var(--NL-vditor-width) / 2) !important;
}

.vditor-ir__gutter {
  left: calc(50% - var(--NL-vditor-width) / 2 + 4px) !important;
}

.vditor-toolbar {
  padding: 0 calc(50% - var(--NL-vditor-width) / 2) !important;
}

.vditor-reset :first-child {
  margin-top: 0 !important;
}

/* 侧边栏顶栏 */
.block__icons {
  background-color: var(--NL-theme-surface);
}

.block__icons .fn__flex-1,
.b3-list-item .fn__flex-1 {
  background-color: transparent !important;
}

.block__logo {
  padding-bottom: 2px;
}
.block__logo svg {
  padding-bottom: 6px;
}

/* 侧边栏上的搜索框 */
.search__label:focus-within {
  color: var(--NL-theme-color);
}

.b3-form__icon--small {
  top: -1px;
}

.b3-form__icon--small .b3-form__icon-icon {
  top: 6px;
  left: 4px;
  width: 12px;
  height: 12px;
}

.b3-text-filed--small,
.b3-text-filed--small:focus {
  border: none;
  box-shadow: none;
}

.b3-form__icon--small .b3-form__icon-input {
  padding-left: 21px !important;
  border-radius: 3px;
  line-height: 21px;
}

/* 侧边栏顶栏按钮 */
.block__icon {
  height: 22px;
  border-radius: 3px;
}
.block__icon svg {
  padding: 4px;
}
/* 侧边栏顶栏的统计块 */
.listCount {
  margin-left: 0;
}

/* 侧边栏列表 */
.file-tree .fn__flex-1,
.b3-list--background {
  background-color: var(--NL-theme-surface);
}

*:not(.config-keymap)
  > .b3-list--background:not(.b3-tab-bar):not(.config-assets):not(.b3-menu)
  * {
  color: var(--NL-theme-on-surface);
}

.ft__on-surface {
  color: var(--NL-theme-on-backgroud);
}

.ft__secondary * {
  color: var(--b3-theme-secondary) !important;
}

/* 侧边栏页签列表上的按钮 */
/* ... */
.b3-list-item__action {
  padding: 3px 1px;
  border-radius: 3px;
}
/* 折叠展开 */
.b3-list-item__graphic--arrow {
  padding: 4px;
  margin-left: -5px;
  margin-right: 5px;
  border-radius: 3px;
}
.b3-list-item__graphic--arrow-open {
  padding: 4px 0;
}

/* 菜单样式 */
.b3-menu {
  border-radius: 3px;
  animation: showBlock 0.3s ease-in-out;
}

/* 顶栏弹出菜单 */
.b3-menu__item:hover:not(.b3-menu__item--readonly):not(.b3-menu__item--custom),
.b3-menu__item--current {
  background-color: var(--NL-tab-background-hover);
}

.b3-menu__separator {
  height: 1px;
  background-color: var(--NL-text-border-color);
}

/* 设置菜单 */
/* 设置窗口 */
.b3-dialog__container {
  width: 50vw;
  animation: showView 0.35s ease-in-out;
}

.b3-dialog__container * {
  user-select: none;
}

.b3-list--background,
.b3-tab-container * {
  font-weight: 500;
}

.b3-tab-container code {
  font-weight: normal !important;
}

/* 搜索框 */
.b3-form__icon-icon {
  top: 6px;
}

/* 开关 */
.b3-switch {
  height: 14px;
  width: 26px;
  padding: 1px;
  border-radius: 44px;
  box-sizing: content-box;
  background: var(--NL-switch-off-background);
  transition: var(--NL-switch-background-transition);
}

.b3-switch::after {
  border: none;
  box-shadow: none;
  width: 14px;
  height: 14px;
  border-radius: 44px;
  background: var(--NL-switch-button);
  transform: translateX(5px) translateY(4px);
  transition: var(--NL-switch-button-transition);
}

.b3-switch::before {
  display: none !important;
}

.b3-switch:checked {
  background-color: var(--NL-switch-open-background);
}

.b3-switch:checked:after {
  background: var(--NL-switch-button);
  transition: var(--NL-switch-button-transition);
  transform: translateX(17px) translateY(4px);
}

/* 选择下拉菜单 */
.b3-select {
  border: 1px solid var(--NL-tab-background-focus-hover);
  padding: 2px 8px 4px 8px;
  cursor: pointer;
}

.b3-select:hover {
  background-color: var(--NL-list-background-hover);
}

.b3-select:focus option {
  background-color: var(--NL-theme-background);
}

.b3-select:active {
  background-color: var(--NL-list-background-focus-hover);
}

.b3-select:focus {
  box-shadow: none;
}

/* 按钮 */
.b3-button:not(.b3-button--text):not(.b3-button--white):not(.b3-button--outline):not(.b3-button--cancel) {
  color: var(--NL-theme-background) !important;
  box-shadow: var(--NL-button-shadow);
}

.b3-button:not(.b3-button--text):not(.b3-button--white):not(.b3-button--outline):not(.b3-button--cancel):hover,
.b3-button:not(.b3-button--text):not(.b3-button--white):not(.b3-button--outline):not(.b3-button--cancel):focus {
  box-shadow: var(--NL-button-shadow);
  background-color: var(--NL-setting-button-hover-background);
}

.b3-button:not(.b3-button--text):not(.b3-button--white):not(.b3-button--outline):not(.b3-button--cancel):active {
  box-shadow: var(--NL-button-shadow);
  background-color: var(--NL-setting-button-click-background);
}

/* 警告 */
.b3-snackbar__content {
  line-height: 28px;
}

.b3-snackbar__content,
.b3-snackbar__content a {
  color: var(--NL-theme-background) !important;
}

/* 关闭按钮 */
.b3-dialog__close {
  color: var(--NL-tab-background-focus-click);
}

.b3-dialog__close:hover {
  color: var(--NL-theme-background);
}

/* 输入框（含搜索框） */
.b3-text-filed:not(.b3-text-filed--small),
.pcr-app .pcr-interaction .pcr-result,
.vditor-search__item .b3-text-filed--small {
  /* border-color: var(--NL-tab-background-focus-hover); */
  border: none;
  border-radius: 3px;
  box-shadow: var(--NL-text-field-shadow);
  background: var(--NL-text-field-background);
}

.b3-text-filed:not(.b3-text-filed--small):not(.b3-form__icon-input):focus,
.pcr-app .pcr-interaction .pcr-result:focus {
  box-shadow: var(--NL-text-field-focus-shadow) !important;
}

/* 外部链接打开文件夹 */
.b3-label a {
  display: inline-flex;
  color: var(--NL-theme-primary);
  user-select: none;
  transition: var(--NL-setting-link-transition);
  cursor: pointer;
  align-items: center;
  flex-shrink: 0;
  white-space: nowrap;
  height: 28px;
  border-radius: 3px;
  font-size: 14px;
  line-height: 1.2;
  min-width: 0px;
  padding-left: 8px;
  padding-right: 8px;
}

.b3-label a:hover {
  color: var(--NL-theme-primary);
  text-decoration: none;
  background-color: var(--NL-theme-primary-lightest);
}

/* 滚动条 */
/* .block__icons + .fn__flex-1 */
::-webkit-scrollbar-thumb {
  background-color: transparent;
}

/* .block__icons + .fn__flex-1 */
:hover::-webkit-scrollbar-thumb {
  background-color: var(--NL-scroll-color);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--NL-scroll-color-hover) !important;
}

/* .vditor-content::after{
  content: '';
  width: 8px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #ffffff;
  transition: all .3s linear;
}

.vditor-content:hover::after{
    background-color: transparent;
    animation: showScrollBar .3s linear;
    animation-fill-mode: forwards;
}
@keyframes showScrollBar {
    100% {
        z-index: -1;
    }
} */

/* 块引用预览浮窗的样式 */
.block__popover {
  transform: translateY(6.5px);
  opacity: 0;
}

.block__popover--open {
  box-shadow: var(--b3-dialog-shadow);
  transform: translateY(0px);
  opacity: 1;
  transition: var(--NL-popover-transition);
}

.ft__primary {
  color: var(--NL-theme-color) !important;
}

span[data-type="pin"]:not([aria-label="取消钉住"]) svg {
  transform: rotate(45deg) translateY(1px);
  transition: var(--NL-pin-transition);
}

span[data-type="pin"]:not([aria-label="钉住"]) svg {
  transform: rotate(0deg) translateY(1px);
  transition: var(--NL-pin-transition);
}

/* 分栏中间的分隔线 */
.layout__resize:hover:after{
  background-color: rgba(0, 0, 0, 0.1);
}

.layout__resize{
  background-color: transparent;
}

.layout__resize:not(.layout__resize--lr)::after{
  height: 2px;
}

.layout__resize--lr::after{
  width: 2px;
}
/* .layout > .fn__flex > .fn__flex-1 > .layout__resize--lr::after{
  top:45%;
  height: 10%;
  width: 1px;
  background-color: var(--NL-scroll-color);
}

.layout > .fn__flex > .fn__flex-1 > .layout__resize:not(.layout__resize--lr)::after{
  left: 45%;
  width: 10%;
  height: 1px;
  background-color: var(--NL-scroll-color);
} */

/* 历史界面 */
.d2h-file-name {
  overflow: hidden;
}

.d2h-code-line-ctn {
  font-family: var(--b3-font-family-code) !important;
  border: none !important;
}

.d2h-code-side-linenumber {
  height: inherit;
  line-height: 28px;
}

/* aria-label浮窗 */
.b3-tooltips:after {
  z-index: 999 !important;
  font-family: var(--b3-font-family) !important;
}

.b3-tooltips::before {
  border-color: transparent !important;
}

.vditor-search svg:hover {
  color: inherit !important;
}

/* 题头图样式 */
/* .vditor-ir {
  overflow-x: hidden;
}

.vditor-ir__gutter {
  top: 27.3vh;
}

.vditor:not(.panelVditor) > .vditor-content > .vditor-ir > .vditor-reset {
  margin-top: 27.3vh !important;
}

.vditor:not(.panelVditor)
  > .vditor-content
  > .vditor-ir
  > .vditor-reset
  > .vditor-ir__node--expand:first-child
  .vditor-ir__preview {
  margin-top: -4px;
}

.vditor:not(.panelVditor)
  > .vditor-content
  > .vditor-ir
  > .vditor-reset
  > div[data-type="html-block"]:first-child
  .vditor-ir__preview {
  transform: translateX(-23.5vw) translateY(-33vh);
  min-height: 0px;
  height: 0px;
}

.vditor:not(.panelVditor)
  > .vditor-content
  > .vditor-ir
  > .vditor-reset
  > div[data-type="html-block"]:first-child
  iframe {
  height: 28.5vh;
  min-height: 10vh;
  width: 100vw;
  object-fit: cover;
} */

/* 编辑器的搜索框 */
.vditor-search {
  position: absolute;
  right: 70px;
  top: 42px;
  border-radius: 3px;
  box-shadow: var(--NL-dialog-shadow);
  transition: var(--NL-search-transition);
  opacity: 0;
  transform: translateY(-34px);
}

.vditor-search--open,
.vditor-search--open2 {
  z-index: 999;
  opacity: 1;
  transform: translateY(0px);
}

.vditor-search--open {
  height: 36px;
}

.vditor-search--open2 {
  height: 66px;
}

.vditor-search__item {
  margin: 6px 9px 0px 9px;
}

.vditor-search__text,
.vditor-search__item .b3-text-filed--small,
.vditor-search__item .b3-button--small {
  height: 24px;
  line-height: 24px;
}

.b3-tooltips__e:not(.dock__item) {
  border-radius: 3px;
  height: 24px;
}

.b3-tooltips__e:not(.dock__item)::after {
  display: none !important;
}

.b3-tooltips__e:not(.dock__item) svg {
  padding: 7px 8px;
}

.vditor-search__item .b3-button--small {
  padding: 0px 8px;
}

.b3-slider {
  transform: translateY(-2px);
}

/* ----------------------------------------------------------------------------------------------------------------- */

/* UI按钮特效 */
/* 初状态 */
/* 编辑器页签和富文本工具栏按钮 */
.vditor-toolbar__item,
.layout-tab-bar .item {
  color: var(--NL-theme-color-fade);
  border-radius: 3px;
}

/* 悬浮状态 */
/* 顶栏按钮 */
.b3-tooltips__s:hover,
.b3-tooltips__e:not(.dock__item):hover,
.toolbar__item:not(#closeWindow):hover,
/* 编辑器页签和富文本工具栏按钮 */
.vditor-toolbar__item:hover,
.layout-tab-bar .item:hover {
  background-color: var(--NL-tab-background-hover) !important;
}

/* 富文本工具栏按钮 */
.vditor-toolbar__item:hover {
  color: var(--NL-theme-on-surface-focus) !important;
}

/* 侧边栏页签列表和顶栏按钮 */
.b3-list--background .b3-list-item:hover,
.block__icons:hover {
  background-color: var(--NL-list-background-hover) !important;
}

/* 侧边栏页签列表上的按钮 */
.item__close:hover,
.block__icon:hover,
.b3-list-item__graphic--arrow:hover,
.b3-list-item__action:hover,
span[data-type="counter"]:hover {
  color: var(--NL-theme-color) !important;
  background-color: var(--NL-button-background-hover) !important;
}

.ft__error:hover,
.ft__error:active {
  color: var(--b3-theme-error) !important;
}

/* 点击状态 */
/* 顶栏按钮 */
.b3-tooltips__s:active,
.b3-tooltips__e:not(.dock__item):active,
.toolbar__item:not(#closeWindow):active {
  background-color: var(--NL-tab-background-click) !important;
}

/* 编辑器页签和富文本工具栏按钮 */
.vditor-toolbar__item:active,
.layout-tab-bar .item:active {
  color: var(--NL-theme-on-surface-focus) !important;
  background-color: var(--NL-tab-background-click) !important;
}

/* 侧边栏页签列表 */
.b3-list--background .b3-list-item:active {
  background-color: var(--NL-list-background-click) !important;
}

.b3-list--background .b3-list-item:active *:not(.ft__secondary *) {
  color: var(--NL-theme-on-surface-focus) !important;
}

.b3-list--background .b3-list-item:active .ft__error * {
  color: var(--b3-theme-error) !important;
}

.item__close:active,
.block__icon:active,
.b3-list-item__graphic--arrow:active,
.b3-list-item__action:active,
span[data-type="counter"]:active {
  background-color: var(--NL-button-background-click) !important;
}

/* 选中状态 */
/* 编辑器页签和富文本工具栏按钮 */
.b3-menu__item--current,
.layout__wnd--active .layout-tab-bar .item--focus {
  color: var(--NL-theme-on-surface-focus) !important;
  background-color: var(--NL-tab-background-focus) !important;
}

/* 侧边栏页签列表 */
.b3-list--background .b3-list-item--focus {
  background-color: var(--NL-list-background-focus) !important;
}

.b3-list--background .b3-list-item--focus .b3-list-item__text {
  font-weight: 600;
}

.b3-list--background .b3-list-item--focus *:not(.ft__secondary *) {
  color: var(--NL-theme-on-surface-focus) !important;
}

/* 选中悬浮状态 */
/* 编辑器页签和富文本工具栏按钮 */
.b3-menu__item--current:hover,
.layout__wnd--active .layout-tab-bar .item--focus:hover {
  background-color: var(--NL-tab-background-focus-hover) !important;
}

/* 侧边栏页签列表 */
.b3-list--background .b3-list-item--focus:hover {
  background-color: var(--NL-list-background-focus-hover) !important;
}

/* 侧边栏页签列表上的按钮 */
.layout__wnd--active .layout-tab-bar .item--focus .item__close:hover,
.b3-list--background .b3-list-item--focus .b3-list-item__graphic--arrow:hover,
.b3-list--background .b3-list-item--focus .b3-list-item__action:hover,
.b3-list--background .b3-list-item--focus span[data-type="counter"]:hover {
  background-color: var(--NL-button-background-focus-hover) !important;
}

/* 选中点击状态 */
/* 编辑器页签和富文本工具栏按钮 */
.b3-menu__item--current:active,
.layout__wnd--active .layout-tab-bar .item--focus:active {
  background-color: var(--NL-tab-background-focus-click) !important;
}

/* 侧边栏页签列表 */
.b3-list--background .b3-list-item--focus:active {
  background-color: var(--NL-list-background-focus-click) !important;
}

.b3-list--background .b3-list-item--focus:active .ft__secondary * {
  color: var(--b3-theme-secondary) !important;
}

/* 侧边栏页签列表上的按钮 */
.layout__wnd--active .layout-tab-bar .item--focus .item__close:active,
.b3-list--background .b3-list-item--focus .b3-list-item__graphic--arrow:active,
.b3-list--background .b3-list-item--focus .b3-list-item__action:active,
.b3-list--background .b3-list-item--focus span[data-type="counter"]:active {
  background-color: var(--NL-button-background-focus-click) !important;
}

/* 不打开页面时的命令菜单 */
.b3-list--text .b3-list-item {
  color: var(--NL-theme-on-surface);
}

.b3-list--text .b3-list-item:hover {
  color: var(--NL-theme-color);
}

/* ---------------------------------------------------------------------------------------------------- */

/* 编辑器样式 */
/* 大纲样式 */
.vditor-ir ul > li:not(.vditor-task) {
  list-style-type: disc;
}

.vditor-ir ul,
.vditor-ir ol {
  margin-bottom: 20px;
  margin-left: 4px;
}

.vditor-ir ul p,
.vditor-ir ol p {
  margin-bottom: 8px !important;
  line-height: 25px !important;
  padding: 0 !important;
}

/* 无序列表 */
.vditor-ir ul ul,
.vditor-ir ul ol {
  border-left: 1px solid var(--NL-list-border-color);
  margin-left: -0.9em !important;
  padding-left: 2.8em !important; /* 父子结点之间的距离 */
}

/* 有序列表 */
.vditor-ir ol ol,
.vditor-ir ol ul {
  border-left: 1px solid var(--NL-list-border-color);
  margin-left: -0.7em !important;
  padding-left: 2.8em !important; /* 父子结点之间的距离 */
}

/* 任务列表 */
.vditor-ir ul .vditor-task ul,
.vditor-ir ul .vditor-task ol {
  border-left: 1px solid var(--NL-list-border-color);
  margin-left: -0.7em !important;
  padding-left: 2.8em !important; /* 父子结点之间的距离 */
}

/* 代码主题ant-design下的样式调整 */
/* 代码块 */
.hljs:not(.md) {
  padding: 4px 16px;
  line-height: 1.6 !important;
  border: none !important;
  border-radius: 3px !important;
  background-image: none !important;
  background-color: var(--NL-theme-surface) !important;
}

.vditor-linenumber {
  padding-left: 3.5em !important;
}

.vditor-linenumber__rows {
  transform: translateY(-1px);
}

.vditor-reset code:not(.hljs) {
  background-image: none;
}

/* 代码块中注释去除斜体样式 */
.hljs-comment {
  font-style: normal !important;
}

.hljs-meta {
  font-weight: normal !important;
}

/* 代码编辑区 */
.vditor-ir__marker--pre code {
  color: var(--b3-theme-on-background);
  background-color: var(--NL-theme-surface) !important;
}

/* 代码编辑区显示时不显示预览 */
/* .vditor-ir__node--expand:not([data-type="inline-math"]):not([data-type="html-block"])
  .vditor-ir__preview {
  display: none;
} */

/* 表格 */
.vditor-ir table tr {
  border-top: 2px solid var(--NL-table-border-color);
}

.vditor-ir table tr:last-child {
  border-bottom: 2px solid var(--NL-table-border-color);
}

.vditor-ir table tr th {
  border-left: 2px solid var(--NL-table-border-color);
  border-right: 2px solid var(--NL-table-border-color);
}

.vditor-ir table tr td {
  border-left: 2px solid var(--NL-table-border-color);
  border-right: 2px solid var(--NL-table-border-color);
}

.vditor-ir table tr th:first-child,
.vditor-ir table tr td:first-child {
  border-left-width: 0px;
}

.vditor-ir table tr th:last-child,
.vditor-ir table tr td:last-child {
  border-right-width: 0px;
}

/* 块标识菜单样式 */
.vditor-ir__menu {
  margin-left: -4.5px;
  margin-top: -4.5px !important;
}

.vditor-ir__menu button {
  border-radius: 3px;
  height: 25px;
  width: 22px;
}

.vditor-ir__menu button:hover {
  background-color: var(--NL-menu-background);
}

.vditor-ir__menu button:hover svg {
  color: var(--NL-menu-color-hover);
}

.vditor-ir__menu button svg {
  margin-top: 4.5px;
  color: var(--NL-menu-color);
}

.vditor-ir__menu--fold button svg {
  margin-top: 12px;
}
/* 
.vditor-ir__menu[title^="标题"]:not([style$="left:-44px"]):not([style$="left:-66px"]) {
  margin-top: 0em;
} */

/* 引用计数块的样式 */
.vditor-ir__menu span {
  padding: 0px 3px;
  margin: 4.5px 0 0 3px;
  border-radius: 4px;
  height: 16px;
  min-width: 16px;
  background-color: var(--NL-menu-background);
  color: var(--NL-menu-color-hover);
  font-size: 12px;
  line-height: 16px;
}

/* 备注时引用计数块的样式 */
.vditor-ir__menu--memo span {
  background-color: var(--NL-list-background-hover);
  color: var(--NL-theme-on-surface-focus);
}

/* 任务列表样式 */
.vditor-task input {
  -webkit-appearance: none !important;
  user-select: none;
  transition: var(--NL-task-transition);
  width: 16px;
  height: 16px;
  cursor: pointer;
  border: 2px solid var(--NL-theme-color);
  /* outline: 1px outset rgb(55, 53, 47); */
  border-radius: 0 !important;
}

.vditor-task input:hover {
  background-color: var(--NL-tolist-hover-color);
}

.vditor-task input:checked {
  border: none;
  background: no-repeat round url("img/done_white_18dp.svg");
  background-color: var(--NL-tolist-done-background);
  /* outline: none; */
}

.vditor-task input:checked:hover {
  background-color: var(--NL-tolist-done-background-hover);
}

/* 任务列表选中后的文本样式 */
.vditor-task--done p {
  text-decoration: line-through;
  color: var(--NL-todolist-done-color);
}

/* 任务列表与文字的距离 */
.vditor-task input[type="checkbox"] {
  margin-right: 0.6em;
}

/* 标题块 */
.vditor-ir h1,
.vditor-ir h2 {
  border-bottom: 1px solid var(--NL-list-border-color) !important;
}

.vditor-ir h1,
.vditor-ir h2,
.vditor-ir h3,
.vditor-ir h4,
.vditor-ir h5,
.vditor-ir h6 {
  padding-top: 0.6em;
  margin-bottom: 0.4em;
}
/* 
.vditor-ir h1 {
  font-size: 1.875em;
  border: none;
  margin-bottom: 24px;
}

.vditor-ir h2 {
  font-size: 1.75em;
  border: none;
  margin-bottom: 20px;
}

.vditor-ir h3 {
  font-size: 225em;
  margin-bottom: 16px;
}

.vditor-ir h4 {
  font-size: 1.5em;
  margin-bottom: 12px;
}

.vditor-ir h5 {
  font-size: 1.375em;
  margin-bottom: 8px;
}

.vditor-ir h6 {
  font-size: 1.25em;
  margin-bottom: 4px;
} */

/* 列表块中的标题块样式 */
.vditor-ir ul h1,
.vditor-ir ul h2,
.vditor-ir ul h3,
.vditor-ir ul h4,
.vditor-ir ul h5,
.vditor-ir ul h6,
.vditor-ir ol h1,
.vditor-ir ol h2,
.vditor-ir ol h3,
.vditor-ir ol h4,
.vditor-ir ol h5,
.vditor-ir ol h6 {
  margin: 12px 0;
  padding: 0;
  border: none;
  line-height: 1;
}

/* 外部链接 */
span[data-type="a"] {
  opacity: 0.7;
  border-bottom: 0.05em solid var(--NL-theme-color-fade);
  transition: var(--NL-link-transition);
}

span[data-type="a"] .vditor-ir__link {
  cursor: pointer;
  text-decoration: none;
}

span[data-type="a"] *:not(.vditor-ir__link) {
  font-size: 85%;
  color: var(--NL-theme-color) !important;
}

span[data-type="a"]:hover {
  border-color: var(--NL-theme-color) !important;
  opacity: 1 !important;
}

/* 命名、别名的样式 */
.vditor-ir .vditor-reset *[tip]:not([fold="1"]) {
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.7) 50%,
    rgba(247, 246, 243, 0.7) 100%
  );
}

.vditor-ir .vditor-reset *[tip]:not([fold="1"])::before {
  border-radius: 3px;
  padding: 0.2em 0.4em;
}

/* 标签样式 */
.vditor-ir span[data-type="tag"] {
  cursor: pointer;
}

.vditor-ir__tag {
  font-size: 85%;
  border-radius: 3px;
  padding: 0.2em 0.4em;
  white-space: pre-wrap;
  background-size: 20px 20px;
  font-family: var(--b3-font-family-code);
  color: var(--NL-theme-color);
  background-color: var(--NL-tag-background);
  text-decoration: none;
}

/* 行内代码块 */
span[data-type="code"] {
  font-style: normal;
  font-weight: normal;
}

span[data-type="code"] code,
.b3-label__text code {
  color: var(--NL-vditor-inline-code-color) !important;
  background-color: var(--NL-vditor-inline-code-background) !important;
}

/* 块引用样式 */
/* 块引用内部锚文本颜色改变 */
.vditor-ir__marker--info {
  color: var(--b3-vditor-inline-blockref-color) !important;
}

.vditor-ir__blockref:hover {
  border-bottom: 1px solid var(--NL-vditor-inline-blockref-color);
}

.vditor-ir__marker {
  cursor: text;
}

/* ------------------------------------------------------------------------------------------------- */

/* 公式字号调整 */
.MathJax svg {
  font-size: 0.95em !important;
}

.katex {
  font-size: 0.95em !important;
}

/* 段落块样式 */
.vditor-ir .vditor-reset > p:not(img) {
  line-height: 25px;
  margin-bottom: 1em;
  /* text-align: justify; */
}

/* 引用块 */
blockquote {
  color: var(--NL-theme-color) !important;
  border-left: 3px solid var(--NL-theme-color) !important;
  background-color: var(--b3-theme-background) !important;
  padding: 0 0.9em !important;
}

/* 五种卡片的样式调整 */
.vditor-ir div[data-type="block-ref-embed"] > div[data-render],
.vditor-ir div[data-type="block-query-embed"] > div[data-render] {
  margin: 1.2em 0 1.5em 0px !important;
  box-shadow: var(--NL-block-shadow);
  border-radius: 3px;
  /* border: 1px solid var(--NL-tab-background-focus-hover) !important; */
}

.vditor-ir div[data-type="code-block"],
span[data-type="img"] img,
.vditor-ir blockquote,
.vditor-ir table {
  margin: 1.2em 0 1.5em 0px !important;
}

.vditor-ir blockquote {
  margin-left: 3px;
}

.vditor-ir .vditor-reset > div[data-type="block-ref-embed"] > div[data-render],
.vditor-ir
  .vditor-reset
  > div[data-type="block-query-embed"]
  > div[data-render],
.vditor-ir .vditor-reset > div[data-type="code-block"],
.vditor-ir .vditor-reset > span[data-type="img"] img,
.vditor-ir .vditor-reset > table {
  margin-left: 4px !important;
}

.vditor-ir .vditor-reset > blockquote {
  margin-left: 7px !important;
}

/* 多种行内元素的样式调整 */
span[data-type="strong"],
span[data-type="code"],
span[data-type="em"],
span[data-type="s"],
span[data-type="a"],
span[data-type="tag"],
span[data-type="inline-math"]
/* span[data-type="ref-text-tpl-render-result"] */ {
  margin: 0 0.12em;
}

/* 动态查询中间的横线 */
.vditor-ir
  div[data-type="block-query-embed"]
  > div[data-render]
  > .fn__flex-column:not(:last-child)
  > .fn__flex-1 {
  border-bottom: 1px solid var(--NL-tab-background-focus-hover) !important;
}

/* 分割线样式 */
.vditor-reset hr {
  /* height: 1px; */
  background-color: var(--NL-text-border-color);
}

/* 折叠块样式 */
.vditor-ir [data-node-id][fold="1"] {
  opacity: 0.4;
}

/* 高亮 */
.vditor-ir__hl {
  background-color: var(--NL-theme-highlight) !important;
}

/* webkit, opera, IE9 */
::selection {
  background: var(--NL-theme-selected-highlight);
}
/* mozilla firefox */
::-moz-selection {
  background: var(--NL-theme-selected-highlight);
}

/* 键盘符 */
kbd {
  background-color: var(--NL-vditor-inline-code-background) !important;
  color: var(--NL-theme-color) !important;
}

/* mermaid */
.edgeLabel * {
  background-color: var(--NL-theme-background) !important;
}
